<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo" href="javascript:void(0);">
      <img
        src="{{ coreConfig.app.appLogoImage }}"
        alt="brand-logo"
        height="28"
      />
      <h2 class="brand-text text-primary ml-1">Vuexy</h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div
        class="w-100 d-lg-flex align-items-center justify-content-center px-5"
      >
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          "
          alt="Login V2"
        />
      </div>
    </div>
    <!-- /Left Text-->

    <!-- Forgot password (Email Form) -->
    <div
      *ngIf="!showOtpForm"
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Quên Mật Khẩu? 🔒</h2>
        <p class="card-text mb-2">Nhập địa chỉ email để đặt lại mật khẩu</p>
        <form
          class="auth-forgot-password-form mt-2"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label class="form-label" for="forgot-password-email">Email</label>
            <input
              class="form-control"
              type="text"
              formControlName="email"
              placeholder="datvv@heno.com"
              aria-describedby="forgot-password-email"
              autofocus=""
              tabindex="1"
              [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
            />
            <div
              *ngIf="f.email.touched && f.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
              <div *ngIf="f.email.errors.pattern">
                Email phải là địa chỉ email hợp lệ
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" type="submit">
            Gửi
          </button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v2"
            ><i data-feather="chevron-left" class="mb-25"></i> Đăng Nhập</a
          >
        </p>
      </div>
    </div>
    <!-- /Forgot password (Email Form) -->

    <!-- OTP Form -->
    <div
      *ngIf="showOtpForm"
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5"
    >
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Nhập mã OTP 🔑</h2>
        <p class="card-text mb-2">
          Nhập OTP được gửi tới email của bạn để xác minh và đặt lại mật khẩu.
        </p>
        <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
          <div class="form-group">
            <label for="otp">OTP</label>
            <input
              type="text"
              id="otp"
              class="form-control"
              formControlName="otp"
              placeholder="Nhập OTP"
              [ngClass]="{ 'is-invalid': fOtp.otp.touched && fOtp.otp.errors }"
            />
            <div
              *ngIf="fOtp.otp.touched && fOtp.otp.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fOtp.otp.errors.required">OTP là bắt buộc</div>
              <div *ngIf="fOtp.otp.errors.minlength">
                OTP phải có ít nhất 6 ký tự
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Xác minh OTP
          </button>
        </form>
      </div>
    </div>
    <!-- /OTP Form -->
  </div>
</div>
